@(diseaseWarningForm: Form[forms.DiseaseWarningForm.Data], plantDiseaseModels: Seq[(String, String)])(implicit request: RequestHeader, messages: Messages, loggedUser: User)
@import b3.inline.fieldConstructor

@templates.logged(Messages("create.disease.warning.title"), tab = "diseaseWarnings") {
    <div class="col-md-8 col-md-offset-2">
        <h4>@Messages("create.disease.warning.title")</h4>
        @helper.form(action = routes.DiseaseWarningController.submit(), 'class -> "disease-warning-form") {
            @helper.CSRF.formField
            @b3.select(diseaseWarningForm("modelId"),
                options = plantDiseaseModels, '_label -> Messages("plant.disease.model.select"), 'required -> "true")
            <input type="submit" value="@messages("save.changes")" class="btn btn-raised btn-primary create-disease-warning"/>
            <a href="@routes.DiseaseWarningController.index( )" class="btn btn-default">@messages("back.to.list")</a>
        }
    </div>

    @helper.requireJs(core = routes.AssetsController.lib("requirejs/require.js").url,
                      module = routes.Assets.at("javascripts/diseaseWarnings/diseaseWarningsCreate.js").url)

}
