@(triggeredWarnings: Seq[(DiseaseWarning, PlantDiseaseModel)], warningsSet: Seq[(DiseaseWarning, PlantDiseaseModel)])(implicit request: RequestHeader, messages: Messages, loggedUser: User)

@templates.logged(Messages("disease.warnings.title"), tab = "diseaseWarnings") {
    <div class="col-md-8 col-md-offset-2">
        <div class="row data">
            <div class="col-md-4 col-md-offset-1">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">@messages("disease.warnings.triggered")</h3>
                    </div>
                    <div class="panel-body">
                        @for((warning, diseaseModel) <- triggeredWarnings) {
                            <div class="list-group-item plant-disease-model-in-panel">
                                <div class="plant-disease-icon-container-in-panel">
                                    <div class="row-action-primary plant-disease-icon">
                                        <i class="material-icons icons-lg">local_florist</i>
                                    </div>
                                </div>
                                <div class="row-content plant-disease-content-in-panel">
                                    <h4 class="list-group-item-heading">
                                    @diseaseModel.name
                                    </h4>
                                </div>
                            </div>
                            <div class="list-group-separator"></div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">@messages("disease.warnings.set")</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>

        <span class="floating-create-button pull-right">
            <a href="@routes.DiseaseWarningController.createWarning()" class="btn btn-info btn-fab create-disease-warning" ><i class="material-icons">grade</i></a>
        </span>
    </div>

    @helper.requireJs(core = routes.AssetsController.lib("requirejs/require.js").url,
                      module = routes.Assets.at("javascripts/diseaseWarnings/diseaseWarnings.js").url)
}
