@(title: String, loggedUser: Option[User] = None, withMainTabs: Boolean = true, tab: String = "", styles: Html = Html(""), scripts: Html = Html(""), modals: Html = Html(""))(content: Html)(implicit messages: Messages)

@import controllers.routes
@import views.html.tags._
@navbarContent = {
    <ul class="nav navbar-nav">
    @if(withMainTabs) {
            @loggedUser.map { implicit user =>
                @withService() {
                    <li class="@("active".when(tab == "weatherStations"))">
                        <a href="@routes.WeatherStationController.index">@messages("weather.stations.title")</a>
                    </li>
                }
                <li class="@("active".when(tab == "plantDiseaseModels"))">
                    <a href="@routes.PlantDiseaseController.index">@messages("plant.disease.models.title")</a>
                </li>
                <li class="@("active".when(tab == "samples"))">
                    <a href="@routes.SampleController.index">@Messages("samples.title")</a>
                </li>
                <li class="@("active".when(tab == "weatherNow"))">
                    <a href="@routes.WeatherNowController.index">@Messages("weather.now.title")</a>
                </li>
                <li class="@("active".when(tab == "diseaseWarnings"))">
                    <a href="@routes.DiseaseWarningController.index">@Messages("disease.warnings.title")</a>
                </li>
            }
    }
    </ul>
    <ul class="nav navbar-nav navbar-right">
    @loggedUser.map { u =>
    <li><a href="@routes.ApplicationController.index">@u.fullName</a></li>
    <li><a href="@routes.ApplicationController.signOut">@Messages("sign.out")</a></li>
    }.getOrElse {
        <li class="@("active".when(tab == "signIn"))"><a href="@routes.SignInController.view">@Messages("sign.in")</a></li>
        <li class="@("active".when(tab == "signUp"))"><a href="@routes.SignUpController.view">@Messages("sign.up")</a></li>
    }
    </ul>
}

@templates.main(title, navbarContent, styles, scripts, modals)(content)