@import "_old";

.plant-disease-model {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.plant-disease-content, .plant-disease-icon {
  flex-wrap: nowrap;
}
.plant-disease-icon-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}