@(plantDiseaseModelForm: Form[forms.PlantDiseaseModelForm.Data], plantDiseaseConditionForm: Form[forms.PlantDiseaseConditionForm.Data])(implicit request: RequestHeader, messages: Messages, loggedUser: User)
@import b3.inline.fieldConstructor

@templates.logged(Messages("samples.title"), tab = "plantDiseaseModels") {
    <div class="col-md-8 col-md-offset-2">
        <h4>@Messages("plant.disease.models.create")</h4>
        @helper.form(action = routes.PlantDiseaseController.submit(), 'class -> "plant-disease-form") {
            @b3.text(plantDiseaseModelForm("name"), '_label -> Messages("plant.disease.models.name"), 'class -> "form-control input-lg col-md-10")
            @b3.text(plantDiseaseModelForm("description"), '_label -> Messages("plant.disease.models.description"), 'class -> "form-control input-lg col-md-10")
            @b3.url(plantDiseaseModelForm("modelImageUrl"), '_label -> Messages("plant.disease.models.modelImageUrl"), 'class -> "form-control input-lg col-md-10")
            <div class="plant-disease-conditions">
                <h5>For the plant disease model to work you must add at least one weather condition</h5>
                <button type="button" class="btn btn-info create-plant-disease-condition">Add condition</button>
                <ul class="condition-list">
                </ul>
            </div>
            <button type="button" class="btn btn-raised btn-primary save-plant-disease">Save changes</button>
            <input type="submit" style="display:none;"/>
            <a href="@routes.PlantDiseaseController.index()" class="btn btn-default">Back to list</a>
        }
    </div>

    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@Messages("plant.disease.condition.create")</h4>
                </div>
                @helper.form(action = routes.PlantDiseaseController.conditionSubmit(), 'class -> "plant-disease-condition-form") {
                    <div class="modal-body">
                    @b3.select( plantDiseaseConditionForm("paramId"), options = Seq("1"->Messages("temperature"), "2"->Messages("humidity")), '_label -> Messages("plant.disease.select.condition"), 'required -> "true")
                    @b3.select( plantDiseaseConditionForm("conditionParam"), options = Seq("1"->">", "2" -> "="), '_label -> Messages("plant.disease.select.conditionParam"), 'required -> "true")
                    @b3.number( plantDiseaseConditionForm("condition"), '_label -> Messages("plant.disease.condition.limit"), 'step -> 5, 'required -> "true")
                    @b3.number( plantDiseaseConditionForm("duration"), '_label -> Messages("plant.disease.condition.duration"), 'step -> 360, 'min -> 0, 'required -> "true")
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary save-plant-disease-condition">Create condition</button>
                            <input type="submit" style="display:none;"/>
                    </div>
                    }
            </div>
        </div>
    </div>

    @helper.requireJs(core = routes.AssetsController.lib("requirejs/require.js").url,
                      module = routes.Assets.at("javascripts/plantDiseaseModels/plantDiseaseModelsCreate.js").url)
}
