@(plantDiseaseModelForm: Form[forms.PlantDiseaseModelForm.Data])(implicit request: RequestHeader, messages: Messages, loggedUser: User)
@import b3.inline.fieldConstructor

@templates.logged(Messages("samples.title"), tab = "plantDiseaseModels") {
    <div class="sample col-md-8 col-md-offset-2">
        <div class="row data">
            <div class="col-md-12">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row-action-primary">
                            <i class="material-icons">folder</i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">15m</div>
                            <h4 class="list-group-item-heading">Tile with a label</h4>

                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
                <a href="@routes.PlantDiseaseController.createModel()" class="btn btn-success btn-fab pull-right create-plant-disease" ><i class="material-icons">grade</i></a>
            </div>
        </div>
    </div>

    @helper.requireJs(core = routes.AssetsController.lib("requirejs/require.js").url,
                      module = routes.Assets.at("javascripts/plantDiseaseModels/plantDiseaseModels.js").url)
}
