@(plantDiseaseModels: Seq[(PlantDiseaseModel, Seq[PlantDiseaseCondition])])(implicit request: RequestHeader, messages: Messages, loggedUser: User)
@import b3.inline.fieldConstructor

@templates.logged(Messages("samples.title"), tab = "plantDiseaseModels") {
    <div class="sample col-md-8 col-md-offset-2">
        <div class="row data">
            <div class="col-md-12">
                <div class="list-group">
                    @for((diseaseModel, diseaseConditions) <- plantDiseaseModels) {
                        <div class="list-group-item plant-disease-model">
                            <div class="plant-disease-icon-container">
                                <div class="row-action-primary plant-disease-icon">
                                    <i class="material-icons">local_florist</i>
                                </div>
                            </div>
                            <div class="row-content plant-disease-content">
                                <h4 class="list-group-item-heading">
                                    @diseaseModel.name
                                </h4>
                                <div class="plant-disease-conditions">
                                    @for(condition <- diseaseConditions) {
                                        <i class="btn btn-sm">
                                            @PlantDiseaseCondition.getWeatherParameterById(condition.paramId, messages)
                                            @PlantDiseaseCondition.getConditionParamById(condition.conditionParam)
                                            @condition.condition
                                            @Messages("for at least")
                                            @condition.duration
                                            @Messages("hours")
                                        </i>
                                    }
                                </div>
                                <p class="list-group-item-text">
                                    @if(diseaseModel.description.isEmpty) {
                                        @messages("plant.disease.models.description.empty")
                                    } else {
                                        @diseaseModel.description
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    }
                </div>
                <a href="@routes.PlantDiseaseController.createModel()" class="btn btn-success btn-fab pull-right create-plant-disease" ><i class="material-icons">grade</i></a>
            </div>
        </div>
    </div>

    @helper.requireJs(core = routes.AssetsController.lib("requirejs/require.js").url,
                      module = routes.Assets.at("javascripts/plantDiseaseModels/plantDiseaseModels.js").url)
}
