@(samples: Seq[models.Sample])(implicit messages: Messages, loggedUser: User)

@templates.logged(Messages("samples.title"), tab = "samples") {
    <div class="sample col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <div class="col-md-4 text-right">
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
}
