@(weatherStations: Seq[models.WeatherStation])(implicit messages: Messages, loggedUser: User)

@templates.logged(Messages("weather.stations.title"), tab = "weatherStations") {
    <div class="sample col-md-8 col-md-offset-2">
        <h1>@messages("weather.stations.registered")</h1>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>@messages("key")</th>
                    <th>@messages("name")</th>
                    <th>@messages("coordinatesX")</th>
                    <th>@messages("coordinatesY")</th>
                </tr>
            </thead>
            <tbody>
                @for(station <- weatherStations) {
                    <tr>
                        <td>@station.key</td>
                        <td>@station.name</td>
                        <td>@station.coordinatesX</td>
                        <td>@station.coordinatesY</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
